<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Archiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Archiver.Properties.Settings>
            <setting name="colFileWidth" serializeAs="String">
                <value>181</value>
            </setting>
            <setting name="colExtWidth" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="colSizeWidth" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="colDateModWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="colDateAccWidth" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="colDateCreateWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="colPathWidth" serializeAs="String">
                <value>292</value>
            </setting>
            <setting name="AutosizePathColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
        </Archiver.Properties.Settings>
    </userSettings>
</configuration>